footer.footer.has-background-grey.has-text-light
  .container
    .content.has-text-centered
      p Hello this is a footer I couldn't think of anything to put in here so it's just text
      p Copyright 2018 Paweł Babiuch
      p oc dont steal