if title
  title Project - #{title}
else
  title Project
//- Customize Bulma
link(rel='stylesheet', href='/stylesheets/bulma.css')
//- Normalize
link(rel='stylesheet', href='/stylesheets/normalize.css')
//- Custom snippets
link(rel='stylesheet', href='/stylesheets/style.css')
//- Font Awesome glyphs
link(rel='stylesheet', href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")

//- Javascript
script(src='javascripts/script.js')