extends ../layouts/front.pug

block top
  #frontSplash
    .container
      .hero.is-fullheight
        .hero-head
          include ../components/navbar-front
        .hero-body
          .container.has-text-centered
            h1.title.has-text-light #{brand}
            h2.subtitle.has-text-light Marketing slogan goes here
        .hero-foot

block content
  section.section
    nav.level
      .level-item.has-text-centered
        div
          p.heading Tweets
          p.title 3,456
      .level-item.has-text-centered
        div
          p.heading Following
          p.title 123
      .level-item.has-text-centered
        div
          p.heading Followers
          p.title 456k
      .level-item.has-text-centered
        div
          p.heading Likes
          p.title 789
  section.section#slide1
    .container
      .columns
        .column
          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
          h1 Sliders that show we're better than unspecified competitors
          | Brand 1
          progress.progress.is-danger(value='80',max='100')
          | Brand 2
          progress.progress.is-danger(value='88',max='100')
          | Brand 3
          progress.progress.is-danger(value='75',max='100')
          | #{brand}
          progress.progress.is-success(value='98',max='100')
          
        .column
  section.section
    .container.has-text-centered
      h1 T E C H N O L O G Y
      nav.level
        .level-item.has-text-centered
          figure.image.is-128x128
            img(src='images/collage1.png')
        .level-item.has-text-centered
          figure.image.is-128x128
            img(src='images/collage2.png')
        .level-item.has-text-centered
          figure.image.is-128x128
            img(src='images/collage3.png')
        .level-item.has-text-centered
          figure.image.is-128x128
            img(src='images/collage4.png')
  section.section#slide2
    .container
      .columns
        .column
        .column
          h1.has-text-right Just look at that dude, how happy he is
          p.has-text-right Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
          br
          .card
            .card-content
              p “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”
              p.subtitle Jeff Atwood
            .card-footer
              p.card-footer-item
                span
                  |View on
                  | 
                  a(href='#') Twitter
              p.card-footer-item
                span
                  |Share on
                  | 
                  a(href='#') Facebook
  
  section.section
    .container
      h1.has-text-centered Join now
      .has-text-centered
        .button.is-primary Click here