extends ../layouts/layout.pug

block content
  section.section
    .container.has-text-centered.is-fullsize
      h1 pretty pictures stolen from the internet
      .tile.is-ancestor.is-vertical
        .tile.is-parent
          .tile
            .modal#photo1
              .modal-background
              .modal-content
                figure.image
                  img(src='images/photo1.jpeg')
              .modal-close.is-large
            figure.image.is-256x256(onclick='openModal("photo1")')
              img(src='images/photo1.jpeg')
          .tile
            .modal#photo2
              .modal-background
              .modal-content
                figure.image
                  img(src='images/photo2.jpeg')
              .modal-close.is-large
            figure.image.is-256x256(onclick='openModal("photo2")')
              img(src='images/photo2.jpeg')
          .tile
            .modal#photo3
              .modal-background
              .modal-content
                figure.image
                  img(src='images/photo3.jpeg')
              .modal-close.is-large
            figure.image.is-256x256(onclick='openModal("photo3")')
              img(src='images/photo3.jpeg')
          .tile
            .modal#photo4
              .modal-background
              .modal-content
                figure.image
                  img(src='images/photo4.jpeg')
              .modal-close.is-large
            figure.image.is-256x256(onclick='openModal("photo4")')
              img(src='images/photo4.jpeg')
        .tile.is-parent
          .tile
            .modal#photo5
              .modal-background
              .modal-content
                figure.image
                  img(src='images/photo5.jpeg')
              .modal-close.is-large
            figure.image.is-256x256(onclick='openModal("photo5")')
              img(src='images/photo5.jpeg')
          .tile
            .modal#photo6
              .modal-background
              .modal-content
                figure.image
                  img(src='images/photo6.jpeg')
              .modal-close.is-large
            figure.image.is-256x256(onclick='openModal("photo6")')
              img(src='images/photo6.jpeg')
          .tile
            .modal#photo7
              .modal-background
              .modal-content
                figure.image
                  img(src='images/photo7.jpeg')
              .modal-close.is-large
            figure.image.is-256x256(onclick='openModal("photo7")')
              img(src='images/photo7.jpeg')
          .tile
            .modal#photo8
              .modal-background
              .modal-content
                figure.image
                  img(src='images/photo8.jpeg')
              .modal-close.is-large
            figure.image.is-256x256(onclick='openModal("photo8")')
              img(src='images/photo8.jpeg')